html {
    font-size: 15px;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: #000;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.footer {
    display: flex;
    margin: 0 auto;
    padding: 0 224px;
    justify-content: center;
    width: 1100px;
    max-width: 100%;
    height: 300px;
    min-width: 100vh;
    margin-top: calc(100vh - 300px);
}


.item {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;

    width: 100%;
    height: 250px;

    flex-direction: column;

}

.circle {
    display: inline-block;
    width: 63px;
    height: 63.9px;
    margin: 0 auto;

    border: solid 1px #2a69a6;
    border-radius: 50%;
    fill: #2a69a6;
    background-color: #2a69a6;

    position: relative;

    transition: background-color 1s linear;
}

.circle:hover + .item1__tablet{
    fill: #2a69a6;
}

.circle:hover {
    background-color: #fff;
}

svg.circle--blue {
    fill: #1275b9;
}

.item1__tablet {
    display: inline-block;
    width: 22.07px;
    height: 29.99px;
    margin-top: -47px;
    margin-left: 99px;

    position: absolute;
    z-index: 2;
}

.item2__device {
    display: inline-block;
    width: 25.053px;
    height: 24.804px;
    margin-left: 98px;
    margin-top: -47px;

    position: absolute;
    z-index: 2;
}

.item3__device {
    display: inline-block;
    width: 27.03px;
    height: 22.27px;
    margin-left: 98px;
    margin-top: -47px;

    position: absolute;
    z-index: 1;
}

h2.title {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    margin-top: 1rem;
    font-size: 14px;
}

p {
    display: inline-block;
    margin-top: 0.5rem;
    width: 220px;
    height: 52px;

    font-size: 14px;
    color: #9d9d9d;
}
