<section class="header-slider">

    <div class="header-slider__inner" id="headerSlider">
        <div class="header-slider__inner__item">
            <h1 class="h1-title">SIMPLE & MODERN</h1>
            <h5 class="h5-title">WE MAKE THE WORLD BEAUTIFUL EVERYDAY</h5>
        </div>
        <div class="header-slider__inner__item">
            <h1 class="h1-title">SIMPLE & MODERN</h1>
            <h5 class="h5-title">WE MAKE THE WORLD BEAUTIFUL EVERYDAY</h5>
        </div>
        <div class="header-slider__inner__item">
            <h1 class="h1-title">SIMPLE & MODERN</h1>
            <h5 class="h5-title">WE MAKE THE WORLD BEAUTIFUL EVERYDAY</h5>
        </div>
        <div class="header-slider__inner__item">
            <h1 class="h1-title">SIMPLE & MODERN</h1>
            <h5 class="h5-title">WE MAKE THE WORLD BEAUTIFUL EVERYDAY</h5>
        </div>
        <div class="header-slider__inner__item">
            <h1 class="h1-title">SIMPLE & MODERN</h1>
            <h5 class="h5-title">WE MAKE THE WORLD BEAUTIFUL EVERYDAY</h5>
        </div>
    </div><!-- /.Header__inner -->

<a href="#article2">
    <svg class="svg-icon-arrow">
    <use xlink:href="#arrow"></use>
    </svg>
</a>
</section><!-- /.Header-slider -->