<header class="header" id="header">
    <svg class="logo">
        <a href="#">
            <use xlink:href="#logo"></use>
        </a>
    </svg>
    <nav class="nav" id="nav">
        <a class="nav__link" href="#" data-scroll="#article1">ABOUT US</a>
        <a class="nav__link" href="#" data-scroll="#article2">PROJECTS</a>
        <a class="nav__link" href="#" data-scroll="#news">NEWS</a>
        <a class="nav__link" href="#" data-scroll="#map">CONTACT</a>
    </nav>
    <button class="burger" id="burger" type="button">

        <span class="burger__line">1</span>
        <span class="burger__line">2</span>
        <span class="burger__line">3</span>
        <span class="burger__line">4</span>
    </button>
    <div class="social-icons">
        <svg class="svg-icon">
            <use xlink:href="#facebook"></use>
        </svg>
        <svg class="svg-icon">
            <use xlink:href="#twitter"></use>
        </svg>
        <svg class="svg-icon">
            <use xlink:href="#instagram"></use>
        </svg>
    </div>
</header>