
body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    height: 420px;
    min-height: calc(100vh - 420px);
    padding-bottom: 20px;
    flex-direction: column;
    margin: 210px auto 0;
    padding-bottom: 200px;

    background: #000 url("/img/PICTURE.jpg") center repeat;
    background-size: cover;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 289px 0 38px;
}

.logo img{
    display: flex;
    width: 112px;
    height: 36px;
    margin: 0px auto;

}

h2.footer__title {
    margin: 51px auto 22px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    position: relative;

    cursor: pointer
}

h2.footer__title::after {
    content: "";
    display: block;
    width: 230px;
    height: 1px;
    margin: 21px auto;

    position: absolute;

    background-color: #fff;

    transform: translateX(-41px) translateY(-8px);
    transition: background-color .1s linear;
}

.footer__title:hover::after {
    background-color: #00c7fc;

    ;
}

.social {
    display: flex;
}

img.social__item {
    width: 15px;
    height: 15px;
    margin: 10px 23px;
}

h4.copyright {
    display: inline-block;
    margin-top: 89px;
}

h4.copyright span {
    color: #00c7fc;
}

