@charset "UTF-8";
html {
  font-size: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UIEmoji", "Segoe UI Symbol", "Noto ColorEmoji";
  color: #fff;
  font-size: 15px;
  /* overflow-x: hidden;*/
  background-color: #FFFFFF;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.page {
  width: 100%;
  margin: 0px auto;
}

/* Header==========*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url(../img/Image.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header__burger ========*/
.burger__wrapper {
  display: none;
}

.burger {
  width: 30px;
  height: 23px;
  position: absolute;
  padding: 0;
  background: none;
  border: 0;
  top: 10px;
  right: 10px;
  font-size: 0;
  color: transparent;
  display: none;
}
.burger:focus {
  outline: none;
}
.burger__line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.burger__line:nth-child(1) {
  width: 20px;
  margin-left: auto;
}
.burger__line:nth-child(1), .burger__line:nth-child(3) {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.burger.active .burger__line:nth-child(1), .burger.active .burger__line:nth-child(3) {
  width: 0;
}
.burger.active .burger__line:nth-child(2), .burger.active .burger__line:nth-child(4) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

/* Header__wrapper */
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__wrapper__logo {
  font-size: 36px;
  letter-spacing: 3.75px;
  line-height: 19.5px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  text-align: center;
}

.header__wrapper__p {
  margin-bottom: 33.75px;
  font-size: 16.5px;
  letter-spacing: 5.25px;
  line-height: 19.5px;
  color: #ffffff;
  font-family: "Josefin Sans";
  text-align: center;
}

.header__wrapper__search {
  width: 40%;
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__wrapper__search__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__wrapper__search__input, .header__wrapper__search__btn {
  border: 0;
  outline: 0;
}
.header__wrapper__search__input {
  width: 100%;
  border: solid 2px transparent;
  background-color: #fff;
  font-size: 10px;
  letter-spacing: 2.2px;
  color: #999999;
  font-family: "Josefin Sans";
}
.header__wrapper__search__input::-webkit-input-placeholder {
  padding: 8px 60px;
  text-align: center;
}
.header__wrapper__search__input::-moz-placeholder {
  padding: 8px 60px;
  text-align: center;
}
.header__wrapper__search__input:-ms-input-placeholder {
  padding: 8px 60px;
  text-align: center;
}
.header__wrapper__search__input::-ms-input-placeholder {
  padding: 8px 60px;
  text-align: center;
}
.header__wrapper__search__input::placeholder {
  padding: 8px 60px;
  text-align: center;
}
.header__wrapper__search__input:focus {
  border: solid 2px #EF9D9C;
}
.header__wrapper__search__error {
  display: none;
  color: red;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: -120px;
  -webkit-transform: translate(-126px, 18px);
          transform: translate(-126px, 18px);
  font-size: 13px;
}
.header__wrapper__search__input:invalid + .header__wrapper__search__error {
  display: block;
}
.header__wrapper__search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 26px;
  border: solid 2px #fff;
  color: #fff;
  background-color: #5474FD;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
.header__wrapper__search__btn:hover {
  background-color: #3b60fd;
}
.header__wrapper__search__btn:focus {
  border: solid 2px #EF9D9C;
}
.header__wrapper__search__btn__svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  fill: #fff;
  stroke: #fff;
}

.header__wrapper__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70vh;
}

.header__wrapper__scroll__down {
  margin-bottom: 5px;
  font-size: 10px;
  letter-spacing: 2.2px;
  color: #fff;
  font-family: "Josefin Sans";
  text-align: center;
}

.header__wrapper__scroll__arrow-svg {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  fill: #fff;
}

svg {
  -webkit-transition: fill 0.5s linear;
  transition: fill 0.5s linear;
  cursor: pointer;
}

svg:hover {
  fill: #3b60fd;
}

.header__btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474FD;
}
.header__btm__logo {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans";
}
.header__btm__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__btm__nav__item {
  margin-right: 25px;
  text-decoration: none;
  font-size: 0.7rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
}
.header__btm__nav__item:last-child {
  margin-right: 0;
}
.header__btm__nav__item:hover {
  text-decoration: underline;
}

/* Section__Choose=============*/
.section {
  width: 100%;
}

.section__choose {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 10.3rem;
  background-image: url(../img/section-bg.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.article__text {
  padding-right: 86px;
  margin-right: 2rem;
}

.article__text__h1 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  font-family: "Aleo";
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.article__text__p {
  margin-bottom: 2.2rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 1.8rem;
  color: #e8e8e8;
  font-family: "Josefin Sans";
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.btn {
  width: 11.8rem;
  height: 3rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 400;
  font-family: "Aleo";
  border: 0;
  outline: 0;
  background-color: #5474FD;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.btn:hover {
  background-color: #3b60fd;
}
.btn:focus {
  border: solid 2px #EF9D9C;
}

.article__photos {
  display: block;
  margin-left: 2rem;
}

.article__photos__img {
  display: block;
  min-width: 75%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.article__photos__img:first-child {
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
}

.section__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background-color: #333333;
}

.section__icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -64px;
}

.section__icons__item-svg {
  width: 30px;
  margin: 0 auto;
  fill: #01A1FD;
}

.section__icons__h1 {
  font-size: 1.6rem;
  line-height: 1.33rem;
  color: #e8e8e8;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
}

.section__icons__item--select {
  fill: #FF6363;
}

.section__icons__curve {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 59px;
  padding-bottom: 164px;
}

.section__icons__curve::before {
  content: "";
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 460px;
  height: 498px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

/* Section3==========*/
.section-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 10.3rem;
  background-image: url(../img/section3-bg.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.section-3__modal {
  width: 27rem;
  padding: 2rem 2rem 2rem 1.5rem;
  background-color: rgba(35, 35, 35, 0.9);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-3__modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-3__modal__content__small-title, .section-3__modal__content__h4, .section-3__modal__content__text {
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
}
.section-3__modal__content__small-title {
  margin-bottom: 1.5rem;
}
.section-3__modal__content__p {
  color: #fff;
  margin-bottom: 1.5rem;
}
.section-3__modal__content__text {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 2rem;
}

.section-3--modal-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

/* Section-last ==========*/
.section-last {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 10.3rem 10rem;
  background-image: url(../img/section5last-bg.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-last__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.section-last__container__title {
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  margin-bottom: 6rem;
}
.section-last__container__item {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-last__container__item__img {
  display: block;
  width: 470px;
  height: 300px;
}
.section-last__container__item__text {
  display: block;
  width: 633px;
  height: 300px;
  background-color: #333;
  padding: 1.8rem 2.3rem;
}
.section-last__container__item__text__small-title {
  margin: 2rem 0;
  font-size: 1.1rem;
  color: #fefefe;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}
.section-last__container__item__text__quote {
  width: 100%;
  font-family: "Josefin Sans";
  color: #fefefe;
  font-size: 16px;
  line-height: 23px;
  text-indent: 25px;
  position: relative;
}
.section-last__container__item__text__quote::before {
  content: "“";
  display: block;
  font-size: 5.8rem;
  color: #5474fd;
  position: absolute;
  top: 13px;
  left: -32px;
  font-family: "Arial";
  font-weight: 400;
}

/* Footer ========*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.67rem 3.33rem;
  background-color: #232323;
}
.footer__logo, .footer__p {
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
}
.footer__logo {
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.footer__p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 20px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facebook {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  text-decoration: none;
  stroke: none;
  fill: #fff;
}

.twitter {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  stroke: #fff;
}

.linkedin {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.youtube {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
  margin-right: 10px;
}

.pinterest {
  width: 26px;
  height: 26px;
}